:root {
  --header-color: #f6f3ff;
  --h-color: #434059;
  --body-color: #ffffff;
  --hover-link-color: #4f25b0;
  --link-color: #434059;
  --secondary-color: #f6f3ff;
  --media-color: #ffeedf;
  --skill-span-color: #827e9c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh; /*height 100*/
  background-color: var(--body-color);
  color: #434059;
  font-family: "Poppins", sans-serif;
}
.top {
  background-color: white;
}
.mobMenu {
  display: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
.btnBack {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  padding: 0.5rem 1rem;
  background-color: #9f86c0;
  font-family: inherit;
  font-size: inherit;
}
#backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
}
header li {
  display: inline-block;
  font-size: 18px;
}
.liContainer {
  text-align: right;
}
ul li a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: #434059;
}
ul li a:hover {
  color: #4f25b0;
  font-weight: bold;
}

header {
  background: #f6f3ff;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 400px;
  background-attachment: fixed;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
header h1 {
  font-size: 70px;
  line-height: 1.5;
  margin-top: 60px;
  text-shadow: grey 0 0 3px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  position: static;
}
.logo {
  text-align: center;
}
.hero-text p {
  text-align: center;
  color: #4f25b0;
  font-weight: bold;
  margin-top: 10px;
}
.container {
  padding: 10px;
  margin: 10px;
}
.projectCards {
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-radius: 5px;
}
.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: #ffffff;
  margin: 1.5rem;
  background: white;
  border: solid 0.1em lightgrey;
  color: var(--h-color);
}

.imgProject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.cardText {
  text-align: center;
  padding: 12px 16px;
}
.cardText a {
  text-decoration: none;
  color: var(--hover-link-color);
}
.containerAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background: #f6f3ff;
  padding: 20px;
}
.contentAbout {
  width: 80%;
}
#image1 {
  max-width: 500px;
  float: left;
  border: 3px solid white;
  border-radius: 10px;
  margin-right: 20px;
}
.textWrap {
  background: #f6f3ff;
}
.textWrap h3 {
  font-size: 40px;
}
.textWrap p {
  font-size: 16px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.containerSkills {
  width: 70%;
  list-style: none;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.containerSkills li {
  margin: 20px 0;
  padding: 10px;
}
.skillBar {
  background: #f2e9e4;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.skillBar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skillBar span {
  height: 20px;
  float: left;
  background: #827e9c;
}
.html {
  width: 80%;
  animation: html 3s;
}
.css {
  width: 60%;
  animation: css 3s;
}
.javaScript {
  width: 50%;
  animation: javaScript 3s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes javaScript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 70, 70);
  color: white;
  padding: 30px;
}
.form-group {
  display: flex;
  min-width: 20%;
  justify-content: space-between;
  padding: 10px;
}
.nameInput,
.emailInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
lable {
  margin-right: 10px;
}
.contactMe {
  background-color: #9f86c0;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 20px;
}
.contactMe:hover {
  background-color: #474646;
}
footer {
  text-align: center;
}
.social-links a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 20px;
}
form i {
  font-size: 28px;
}
small {
  margin-top: 25px;
  margin-bottom: 5px;
}
@media (max-width: 800px) {
  body {
    background: #ffeedf;
  }
  nav ul {
    display: none;
  }
  .mobMenu {
    display: block;
  }
  #backToTop {
    bottom: 1rem;
    right: 1rem;
  }
  .btnBack {
    padding: 0.5rem;
  }
  ul.responsive {
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
  }
  ul.responsive li {
    display: block;
    margin: 1rem;
  }
}
@media (max-width: 667px) {
  body {
    background: black;
  }
  #backToTop {
    bottom: 1rem;
    right: 1rem;
  }
  .btnBack {
    padding: 0.5rem;
  }
}
